.content>p{
    border-bottom:1px solid #ddd; 
    line-height:50px;
    height:50px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.tabtit{
    display: flex;
    
}
.tabtit>span{
    height: 100%;
    padding: 0 10px;
    font-size: 12px;
    font-weight: normal;
    box-sizing: border-box;
    cursor: pointer;
}


.tabtit .active{
    border-bottom: 4px solid #36c6d3;
}
.tabcon ul{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tabcon ul li{
    list-style: none;
    display: flex;
    height: 28px;
    background-color: #fafafa;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.tabcon ul li i{
    width: 25px;
    height: 25px;
    background:#36C6D3;
    display: flex;
    justify-content: center;
    align-items: center;
}.tabcon ul li i svg{
    font-size: 16px;
    color:#fff;
}
.tabcon ul li>p{
    display: flex;
    align-items: center;
}
.tabcon ul li p span{
    font-size: 14px;
    color: #82949a;
    margin-left: 5px;
}
.tabcon ul li>span{
    font-size: 14px;
    color: #c1cbd0;
    margin-right: 5px;
}