.userWrap{
    width:100%; 
    box-sizing:border-box; 
    padding:20px;
}
.checkTips{
    width:100%; 
    height:33px;
    line-height:33px;
    box-sizing:border-box;
    padding-left:20px; 
    display:flex;
    font-size:14px;
    margin:20px 0;
}
.checkTips>span{
    width:150px;
    height:100%;
    text-align:center;
    background:#eee;
    border:solid 1px #bbb;
}
.checkTips .selectBox{
    width:200px;
    height:100%;
    border:solid 1px #bbb;
    font-size:14px;
    padding-left:10px;
    outline:none;
    border-radius:0;
    overflow:hidden;
    color:#bbb;
}
.selectBox:hover{
    background:#eee;
}